@tailwind base;
@tailwind components;
@tailwind utilities;

.new {
   @apply border
   gap-2
    border-green-200 
    shadow flex flex-col justify-start items-center
    p-4
    hover:bg-gradient-to-b hover:from-zinc-50 hover:to-green-50
    hover:shadow-md 
    bg-gradient-to-t from-zinc-50 to-sky-50
    hover:cursor-pointer;

   width: 350px;
}
